<% include partial/header %>
<div class="container">
    <h1 style="text-align: center">Create a New Movie Record</h1>
    <form action="/movies" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" autocomplete="off" required />
        </div>
        <div class="form-group">
            <label for="image">URL</label>
            <input class="form-control" type="text" name="image" placeholder="image url" autocomplete="off" required/>
        </div>
        <div class="form-group">
            <label for="genre">Movie Genres</label>
            <select name="genre" class="form-control" required>
                <option>Comedy</option>
                <option>Crime</option>
                <option>Action</option>
                <option>Romance</option>
                <option>Drama</option>
                <option>Adventure</option>
                <option>Horror</option>
                <option>Documentary</option>
                <option>Animation</option>
                <option>Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" type="text" name="description" autocomplete="off" required></textarea>

        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
        </div>
        <hr>
        <a href="/movies">Back</a>
    </form>
</div>
<% include partial/footer %>
