
<div class="container">

	<h1 style="text-align:center">
	Add New Comment to <%=movie.name%>
</h1>
<div style ="width:30%; margin:25px auto;">
	<form action="/movie/<%=movie._id%>/comments" method="POST">
	<input class="form-control" type = "text" placeholder = "text" name = "comment[text]"/>
	<button class="btn btn-lg btn-primary btn-block">
		Submit!
	</button>
	
 </div>

</form>
	
</div>