<% include partial/header %>
<div class="container">
	<h1 style="text-align: center">Sign Up</h1>
	<form action="/register" method="post">
		<div class="form-group">
			<label for="username">User Name</label>
			<input class="form-control" type="text" id="username" name="username" required />
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input class="form-control" type="password" id="password" name="password" required />
		</div>
		<div class="form-group">
			<label for="firstName">First Name</label>
			<input class="form-control" type="text" id="firstName" name="firstName" required />
		</div>
		<div class="form-group">
			<label for="lastName">Last Name</label>
			<input class="form-control" type="text" id="lastName" name="lastName" required />
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input class="form-control" type="email" id="email" name="email" required />
		</div>
		<div class="form-group">
			<label for="role">Role</label>
			<select name="role" class="form-control" id="role" required>
				<option>Movie Lover</option>
				<option>Admin</option>
			</select>
		</div>
		<div class="form-group">
			<label for="favoriteGenres">Favorite Movie Genres</label>
			<select name="favoriteGenres" id="favoriteGenres" class="form-control" required>
				<option>Comedy</option>
				<option>Crime</option>
				<option>Action</option>
				<option>Romance</option>
				<option>Drama</option>
				<option>Adventure</option>
				<option>Horror</option>
				<option>Documentary</option>
				<option>Animation</option>
				<option>Other</option>
			</select>
		</div>
		<div class="form-group">
			<label for="avatar">Profile Photo</label>
			<input class="form-control" id="avatar" type="text" name="avatar" placeholder="url" />
		</div>
		<div class="form-group">
			<button class="btn btn-md btn-primary btn-block">Sign Up!</button>
		</div>
		<hr>
		<a href="/movies">Back</a>
	</form>
</div>

<% include partial/footer %>
